<div class="container">
    <div class="py-5">
        <p class="title">Top 100</p>
        <p class="subtitle">The most rated movies of the TMDb</p>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 my-3 text-center" *ngFor="let m of movies">
            <div class="movie">
                <img (click)="openMovie(m.id)" data-src="https://image.tmdb.org/t/p/w220_and_h330_face{{m.poster_path}}" data-srcset="https://image.tmdb.org/t/p/w220_and_h330_face{{m.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face{{m.poster_path}} 2x" alt="" src="https://image.tmdb.org/t/p/w220_and_h330_face{{m.poster_path}}" srcset="https://image.tmdb.org/t/p/w220_and_h330_face{{m.poster_path}} 1x, https://image.tmdb.org/t/p/w440_and_h660_face{{m.poster_path}} 2x" data-loaded="true">
                <p class="font-weight-bold">{{m.title}}</p>
                <div class="font-weight-bold">{{m.vote_average *10}}%</div>
            </div>
        </div>
    </div>
</div>