<footer class="pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>App TMDb</p>
                <p>
                    <a href="https://github.com/kalbzero/App-TMDb">Sobre</a>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <p>API TMDb</p>
                <p>
                    <a href="https://developers.themoviedb.org/3/getting-started/introduction">Documentação</a>
                </p>
            </div>
        </div>
        <hr class="line">
        <p class="copyright text-center">
            Copyright &copy; {{year}} <a href="https://www.linkedin.com/in/edward-ramos-guimaraes/">Edward Ramos</a>
        </p>
    </div>
</footer>
