@import '../../scss/color.scss';

.title-screen {
    background-color: $dark-blue;
    color: $white;
    border: 1px solid $white;
}
.picsum-img-wrapper img{
    height: 400px;
    width: 100%;
}
.carousel-caption {
    background-color: $dark-blue-opacity50;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .picsum-img-wrapper img {
        height: 200px;
    }
}